.requestCard {
    width: 280px;
    height: 250px;
    background: linear-gradient(to right,rgb(137, 104, 255),rgb(175, 152, 255));
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    padding: 0 20px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
  }
  
  .requestCard::before {
    width: 150px;
    height: 150px;
    content: "";
    background: linear-gradient(to right,rgb(142, 110, 255),rgb(208, 195, 255));
    position: absolute;
    z-index: 1;
    border-radius: 50%;
    right: -25%;
    top: -25%;
  }
  
  .requestHeading {
    margin: 0;
    font-size: 1.9em;
    font-weight: 600;
    color: rgb(241, 241, 241);
    z-index: 2;
  }
  
  .requestDescription {
    margin: 0;
    font-size: 1.2em;
    color: rgb(241, 241, 241);
    z-index: 2;
  }
  
  .requestDescription a {
    color: rgb(241, 241, 241);
  }
  
  .acceptButton {
    padding: 11px 20px;
    border-radius: 30px;
    background-color: #7b57ff;
    transition-duration: .2s;
    border: none;
    color: rgb(241, 241, 241);
    cursor: pointer;
    font-weight: 600;
    z-index: 2;
  }
  
  .acceptButton:hover {
    background-color: #714aff;
    transition-duration: .2s;
  }